In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('founders_only_clean.csv')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30720 entries, 2 to 39359
Data columns (total 35 columns):
Full Name                          30720 non-null object
Primary Job Title                  30720 non-null object
Gender                             30720 non-null object
Biography                          21577 non-null object
Number of News Articles            16126 non-null object
Number of Founded Organizations    30720 non-null int64
Number of Portfolio Companies      3071 non-null float64
Number of Investments_x            3069 non-null float64
Number of Partner Investments      247 non-null float64
Number of Lead Investments_x       179 non-null float64
Number of Exits_x                  672 non-null float64
Number of Events_x                 5642 non-null float64
Categories                         29803 non-null object
Headquarters Location              30071 non-null object
Operating Status                   30720 non-null object
Founded Date                       30079 non-null object
Closed Date                        474 non-null object
Company Type                       25299 non-null object
Number of Founders                 30285 non-null object
Number of Employees                27047 non-null object
Number of Funding Rounds           26014 non-null object
Funding Status                     22096 non-null object
Last Funding Date                  26049 non-null object
Last Funding Amount                21573 non-null object
Last Funding Type                  25966 non-null object
Last Equity Funding Amount         21207 non-null object
Last Equity Funding Type           25353 non-null object
Total Equity Funding Amount        22957 non-null object
Total Funding Amount               22841 non-null object
Number of Lead Investors           15390 non-null float64
Number of Investors                22898 non-null object
Acquisition Status                 6870 non-null object
IPO Status                         29623 non-null object
IPO Date                           717 non-null object
Number of Events_y                 11340 non-null object
dtypes: float64(7), int64(1), object(27)
memory usage: 8.4+ MB

In [4]:
def success_onlyB_check(df):
    if df['Last Funding Type'] == 'Series B':
        val = 1
    else:
        val = 0
    return val

df['Success_onlyB'] = df.apply(success_onlyB_check, axis = 1)

In [5]:
df.Success_onlyB.value_counts()

0    28028
1     2692
Name: Success_onlyB, dtype: int64

In [6]:
count = 0
my_list = [] 

for r,s in df['Last Funding Type'].iteritems():
    s = str(s)
    for i in '$0123456789':
        for st in s:
            if i != st and s != 'nan' and s != 'Venture - Series Unknown':
                my_list.append(s)
    count += 1
            
print(count)
#print(my_list[:100])

check_df = pd.DataFrame({"Cleaned Stage":my_list})
check_df["Cleaned Stage"].value_counts()

30720

Series A                 372328
Seed                     334356
Series B                 236896
Convertible Note         140800
Series C                 117216
Debt Financing           108878
Private Equity            68684
Non-equity Assistance     57750
Angel                     52470
Series D                  52448
Equity Crowdfunding       44935
Undisclosed               40656
Post-IPO Equity           27225
Series E                  21208
Secondary Market          17952
Product Crowdfunding      17820
Grant                     13255
Series F                   9592
Initial Coin Offering      8778
Post-IPO Debt              4862
$100,000                   4784
$20,000                    4018
Series G                   3080
$250,000                   2392
$25,000                    2378
$150,000                   2300
$50,000                    2296
$40,000                    2214
í_ŒŠí«15,000               2159
$500,000                   2024
                          ...
$580,000                     92
$195,000                     92
$265,000                     92
$220,000                     92
$22,000                      82
$80,000                      82
$24,000                      82
A$25,000                     82
$65,000                      82
$44,999                      82
$71,000                      82
$32,500                      82
$68,000                      82
$17,000                      82
$59,054                      82
$50,500                      82
$87,000                      82
$12,000                      82
$62,500                      82
$29,079                      82
$60,532                      82
$12,500                      82
$11,700                      82
$38,000                      82
$52,000                      82
$90,000                      82
$77,000                      82
$7,000                       72
$6,000                       72
$3,500                       72
Name: Cleaned Stage, Length: 257, dtype: int64

In [7]:
success_list = ['Series B', 'Series C', 'Series D', 'Private Equity', 'Series E', 'Post-IPO Equity', 'Series F', 'Series G', 'IPO']

def success_all_check(df):
    if df['Last Funding Type'] == 'Series B' or df['Last Funding Type'] == 'Series C' or df['Last Funding Type'] == 'Series D'\
    or df['Last Funding Type'] == 'Private Equity' or df['Last Funding Type'] == 'Series E' or df['Last Funding Type'] == 'Post-IPO Equity'\
    or df['Last Funding Type'] == 'Series F' or  df['Last Funding Type'] == 'Series G' or df['Last Funding Type'] == 'IPO': 
        val = 1
    else:
        val = 0
    return val

df['Success_all'] = df.apply(success_all_check, axis = 1)

In [8]:
df.Success_all.value_counts()

0    25104
1     5616
Name: Success_all, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30720 entries, 2 to 39359
Data columns (total 37 columns):
Full Name                          30720 non-null object
Primary Job Title                  30720 non-null object
Gender                             30720 non-null object
Biography                          21577 non-null object
Number of News Articles            16126 non-null object
Number of Founded Organizations    30720 non-null int64
Number of Portfolio Companies      3071 non-null float64
Number of Investments_x            3069 non-null float64
Number of Partner Investments      247 non-null float64
Number of Lead Investments_x       179 non-null float64
Number of Exits_x                  672 non-null float64
Number of Events_x                 5642 non-null float64
Categories                         29803 non-null object
Headquarters Location              30071 non-null object
Operating Status                   30720 non-null object
Founded Date                       30079 non-null object
Closed Date                        474 non-null object
Company Type                       25299 non-null object
Number of Founders                 30285 non-null object
Number of Employees                27047 non-null object
Number of Funding Rounds           26014 non-null object
Funding Status                     22096 non-null object
Last Funding Date                  26049 non-null object
Last Funding Amount                21573 non-null object
Last Funding Type                  25966 non-null object
Last Equity Funding Amount         21207 non-null object
Last Equity Funding Type           25353 non-null object
Total Equity Funding Amount        22957 non-null object
Total Funding Amount               22841 non-null object
Number of Lead Investors           15390 non-null float64
Number of Investors                22898 non-null object
Acquisition Status                 6870 non-null object
IPO Status                         29623 non-null object
IPO Date                           717 non-null object
Number of Events_y                 11340 non-null object
Success_onlyB                      30720 non-null int64
Success_all                        30720 non-null int64
dtypes: float64(7), int64(3), object(27)
memory usage: 8.9+ MB

In [10]:
df_nonan = df[pd.notnull(df['Last Funding Type'])]

In [11]:
df_nonan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25966 entries, 2 to 39359
Data columns (total 37 columns):
Full Name                          25966 non-null object
Primary Job Title                  25966 non-null object
Gender                             25966 non-null object
Biography                          18603 non-null object
Number of News Articles            14033 non-null object
Number of Founded Organizations    25966 non-null int64
Number of Portfolio Companies      2615 non-null float64
Number of Investments_x            2615 non-null float64
Number of Partner Investments      204 non-null float64
Number of Lead Investments_x       135 non-null float64
Number of Exits_x                  562 non-null float64
Number of Events_x                 4840 non-null float64
Categories                         25469 non-null object
Headquarters Location              25741 non-null object
Operating Status                   25966 non-null object
Founded Date                       25594 non-null object
Closed Date                        442 non-null object
Company Type                       21802 non-null object
Number of Founders                 25658 non-null object
Number of Employees                23402 non-null object
Number of Funding Rounds           25873 non-null object
Funding Status                     21350 non-null object
Last Funding Date                  25960 non-null object
Last Funding Amount                21368 non-null object
Last Funding Type                  25966 non-null object
Last Equity Funding Amount         21087 non-null object
Last Equity Funding Type           25298 non-null object
Total Equity Funding Amount        22807 non-null object
Total Funding Amount               22818 non-null object
Number of Lead Investors           15245 non-null float64
Number of Investors                22822 non-null object
Acquisition Status                 5789 non-null object
IPO Status                         25169 non-null object
IPO Date                           608 non-null object
Number of Events_y                 9947 non-null object
Success_onlyB                      25966 non-null int64
Success_all                        25966 non-null int64
dtypes: float64(7), int64(3), object(27)
memory usage: 7.5+ MB

In [16]:
len(df_nonan['Last Funding Type'].value_counts())

258

In [ ]:
def check_num(df_nonan):
    for row in df_nonan['Last Funding Type'].astype(str):
        for s in '0123456789$':
            if s in row:
                print(row)
                val = 1
            else:
                val = 0
            return val
        
df_nonan['has_num'] = df_nonan.apply(check_num, axis = 1)

In [ ]:
print(4)

In [17]:
count = 0

for row in df_nonan['Last Funding Type'].astype(str):
    for s in '0123456789$':
        if s in row:
            count += 1

2804